.course {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(112, 112, 112);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    max-height: 70px;
    overflow: hidden;
    padding: 10px 20px 0 20px;
    transition: max-height 700ms ease, visibility 2s ease;
    will-change: max-height, visibility;
}

.course:hover {
    background-color: rgb(250, 250, 250);
    border: 2px solid black;
    cursor: pointer;
    max-height: 250px;
    transition: max-height 700ms ease;
    will-change: max-height;
}

.course .top-group {
    align-items: center;
    display: flex;
    min-height: 40px;
    margin-bottom: 22px;
    margin-top: 6px;
    flex-wrap: wrap;
}

.course .top-group > h3  {
    margin: 0;
    padding: 0;
    font-size: clamp(1.0rem, 0.75rem + 1.0vw, 1.2rem);
    width: 50%;
}

.course .tools-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
}

.course .tools-group img {
    height: 10px;
}

.info-group {
    align-items: center;
    display: flex;
    gap: 15px;
    flex-direction: row;
}


/* Uni logo + name */
.info-group > div {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.info-group img {
    width: 30px;
}

.course > p  {
    margin: 0;
    overflow: auto;
    padding: 0;
}