.education {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0vw var(--root-padding) 0vw var(--root-padding);  
}

.education-category-header {
    background-color: rgba(197, 197, 197, 0.3);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid gray;
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
}

.education-category-header > h3 {
    margin-left: auto;
}

.education-category-header > img {
    width: 40px;
    margin-left: auto;
}

.education > #computer-science {
    background-color: rgba(159, 204, 255, 0.2);
}

.education > #math {
    background-color: rgba(159, 255, 175, 0.2);
}

.education > #other {
    background-color: rgba(255, 159, 159, 0.2);
}

.education-category {
    background-color: rgb(209, 209, 209, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    max-height: 0px;  /* Set from the 'Education' component */
    overflow-y: auto;   
    transition: max-height 2s ease, padding 1s ease;;
    will-change: max-height, padding;
}