.education {
    align-items: center;
    border-radius: 5px;
    display: flex;
    background-color: rgb(241, 241, 241);
    flex-direction: column;  
    padding: 20px;
    width: 50vw;
}

.education-category-header {
    align-items: center;
    background-color: rgb(218, 218, 218);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid gray;
    display: flex;
    font-size: 40px;
    height: 80px;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
}

.education-category-header:hover {
    cursor: pointer;
}

.education-category-header:hover > img {
    cursor: pointer;
    filter: invert(19%) sepia(76%) saturate(3892%) hue-rotate(353deg) brightness(79%) contrast(86%);
}

.education-category-header > h3 {
    --expander-width: 40px;
    font-size: 30px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.education-category-header > img {
    width: var(--expander-width);
}

.education-category {
    background-color: rgba(196, 196, 196, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    max-height: 0px;  /* Set from the 'Education' component */
    overflow-y: auto;   
    transition: max-height 2s ease, padding 1s ease;;
    will-change: max-height, padding;
}

.education-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.education-info-top {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    justify-content: center;
}

.education-info-top > h3 {
    margin: 0 auto 0 auto;
    padding: 0;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

/* University group + dates */
.education-info-top > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);

}

.university-group {
    align-items: center;
    display: flex;
    gap: 20px;
}

.university-group img {
    width: 40px;
}

@media (max-width: 850px) {
    .education {
        width: 80vw;
    }
}
