.education {
    align-items: center;
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    padding: 0vw var(--root-padding);
}

.education > h2 {
    justify-self: center;
    font-size: 2em;
}

.education-category {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}