.projects {
    padding: 0vw var(--root-padding) 0vw var(--root-padding);  
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.projects > h2 {
    justify-self: center;
    font-size: 2em;
}

.projects > div {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;   
}