.project {
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    filter: grayscale();
    flex-direction: column;
    height: 600px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    width: 380px;
}

.project:hover {
    filter: none;
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
}

.project-img {
    height: 60%;
}


/* No project img */
.project div[class='project-img'] {
      /* Dynamic background coloring is set with inline 
      styling within the 'Project' component*/
    align-items: center;
    background-color: #cfcfcf;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    height: 60%;  
}

.project > div {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    padding: 0 5% 5% 5%;
}


.top-group {
    display: flex;
    justify-content: space-between;
}

.top-group h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Project description */
.project > div:nth-child(2) > p {
    color: rgb(92, 92, 92);
    font-family: 'Roboto', 'Arial', Times, serif;
    overflow: auto;
    overflow-wrap: break-word;
}

.project-links {
    align-items: center;
    display: flex;
    gap: 10px;
}   

.project-links button {
    width: 30px;
}

.tools-group {
    display: flex;
}

@media (max-width: 850px) {
    .project {
        width: 350px;
    }
}

