body {
  --secondary-color: rgb(27, 196, 202);
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30rem;
  background-color: var(--secondary-color);
  transform-origin: -60vh center;
  transform: skewY(-10deg);
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
}

#root {
  --root-padding: 5vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15vh;
  margin-top: 5vh;
}

button:hover {
  cursor: pointer;
}